/* HEADER, OPTIONS & BODY */

.header, .select-state {
  font-family: pt-mono, monospace;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 71%;
  margin: auto;
  height: auto;
  padding-bottom: 20px;
  background-color: #B5B9BA;
}

body {
  background-color: #B5B9BA;
  background-image: url("https://www.transparenttextures.com/patterns/wet-snow.png");
}

.box select {
  border: none;
}

/* MAP & STATS */

ul {
  margin-right: 40px;
}

.container {
  font-family: pt-mono, monospace;
  font-weight: 500;
  font-style: normal;
  background-color: #B5B9BA;
  align-items: center;
  text-align: right;
  margin: auto;
  padding-left: 10px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex: 1;
  margin: 10px;
  text-align: left;
  align-items: center;
}

.row, p {
  font-weight: 700;
}

label {
  font-weight: 300;
}

/* NEWS INFO */

.second {
  font-family: pt-mono, monospace;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: #B5B9BA;
  margin: auto;
  max-width: 71%;
  float: center;
  max-height: 100%;
}

.news-title {
  text-align: center;
  font-weight: 600;
  margin-right: 20px;
}

/* LINKS */

a:link, a:visited {
  color: #272A2A;
}

a:hover {
  color: #7A151F;
}

/* MAP */

.first {
  margin-left: 20px;
}

/* MEDIA QUERIES */

@media all and (max-width: 800px) {
  .wrapper {
    width: auto;
    margin: auto;
  }

  .container {
    flex-wrap: wrap; 
  }

  .first {
    flex-direction: row;
  }

  header {
    display: flex;
  }

  .row {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
  }
}